Ejercicio04/ejercicio-4.dtd

<!ELEMENT biblioteca (libro+, a)>
<!ELEMENT a(#PCDATA)>
<!ATTLIST a 
  href CDATA #IMPLIED
  xmlns CDATA #IMPLIED
  target (_blank|_self) "_self">
<!ELEMENT libro (titulo, autor, anio, genero*)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT genero (#PCDATA)>